*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.header, .footer{
    padding: 10px 40px;
    background-color: rgb(88, 129, 240);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    height: 30px;
}

.contant{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
}


.sidebar{
    display: flex;
    background-color: rgb(127, 255, 212);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.sidebar_button{
    padding: 10px;
    font-weight: bolder;
}

.sidebar_button:hover{
    background-color: rgba(105, 105, 105, 0.5);
    cursor: pointer;
}

.sidebar-marc{
    background-color: rgba(78, 78, 78, 0.281);
}

.bin-fill {
    color: rgb(248, 4, 4);
}

.main__contant {
    padding: 20px;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: all 0.5s ease-in-out;
}

.advertising{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    width: 100%;

    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.card{
    padding: 10px 0;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    height: 400px;
    width: 300px;
    
    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover{
    transform: scale(1.02);
    transition: .3s;
}

.card__hr{
    width: 100%;
    color: rgba(81, 214, 81, 0.788);
}



.button-to-bin, .bin__button, .form__button{
    height: 30px;
    width: 100px;
    border-radius: 3px;
    background-color: rgba(52, 199, 39, 0.692);
}

.button-to-bin:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}

.bin__button:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}

.form__button:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}

.bin-contant{
    padding: 10px;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    width: 100%;

    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.bin__items{
    padding: 10px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.header-fix{
    position: fixed;
    width: 100%;
    z-index: 1000;
    animation-name: show_header;
    animation-duration: 0.8s;
}

@keyframes show_header {
    0%{
        opacity: 0;
        top: -50px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.sidebar-fix{
    position: fixed;
    top: 57px;
    width: 100%;
    z-index: 500;
    transition: 1s;
    animation-name: show_nav;
    animation-duration: 0.8s;
}

@keyframes show_nav {
    0%{
        opacity: 0;
        top: -50px;
    }
    100%{
        opacity: 1;
        top: 57px;
    }
}

@media (max-width: 500px){

    .contant {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    .sidebar {
        display: flex;
        padding: 10px;
        transition: 1s;
    }
    .bin__items {
        display: flex;
        flex-direction: column;
    }

    .main__contant {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 100%;
        margin: 20px;
    }
}

.bin-describe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}
.bin-function{
    display: flex;
    justify-content: flex-end;
}

.bin-count{
    height: 26px;
    width: 26px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.operation__button{
    height: 30px;
    width: 30px;
    background-color: rgba(52, 199, 39, 0.692);
}

.operation__button:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}


.bin__total{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.bin__result{
    display: flex;

}

.amaunt{
    padding-right: 20px;
    padding-left: 20px;
    font-size: large;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    padding: 10px ;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    height: 300px;
    width: 100%;
    
    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    
}

.form-correct{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__label{
    font-weight: 600;
}

.form__item,.form__register{
    margin:10px;
}
.form__input{
    height: 20px;
    padding: 2px;
    border-radius: 4px;
}

.error{
    border-color: rgba(252, 3, 3, 0.61);
    box-shadow: 0px 4px 15px rgba(252, 3, 3, 0.952);
}

.user{
    cursor: pointer;
}

.register-form{
    padding: 10px ;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    width: 100%;
    
    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.form__cabinet{
    text-align: center;
}
.cabinet-correct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__cabinet span {
    color: maroon;
    font-size: 1.3em;
}