*{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header, .footer{
    height: 70px;
    padding: 10px 40px;
    background-color: rgba(88, 129, 240, 0.692);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contant{
    display: flex;
    position: absolute;
    top: 90px;
    bottom: 90px;
    left: 0;
    right: 0;


}

.goodes-foto{
    height: 100px;
}

.sidebar{
    /* position: relative; */
    background-color: rgba(127, 255, 212, 0.664);
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    width: 200px;
    /* min-height: 300px; */
    /* height: 100vh; */

}

.sidebar_button{
    padding: 10px;
    font-weight: bolder;
}

.sidebar_button:hover{
    background-color: rgba(0, 0, 0, 0.171);
    cursor: pointer;
}

.bin-fill {
    /* display: inline-block;
    /* padding: 2px; */
    /* height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;  */
    color: rgb(248, 4, 4);
}

.main__contant {
    padding: 20px;
    overflow-y: auto;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-between; */
    

}

.advertising{
    padding: 10px;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    height: 200px;
    width: 100%;

    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.card{
    padding: 10px 0;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    
    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover{
    /* height: 305px;
    width: 205px; */
    border: 2px solid rgba(247, 219, 62, 0.747);
}

.card__hr{
    width: 100%;
    color: rgba(81, 214, 81, 0.788);
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.486); */
}



.button-to-bin, .bin__button, .form__button{
    height: 30px;
    width: 100px;
    border-radius: 3px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: rgba(52, 199, 39, 0.692);
}

.button-to-bin:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}

.bin__button:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}

.form__button:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}

.bin-contant{
    padding: 10px;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    width: 100%;

    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.bin__items{
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.bin-describe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}
.bin-function{
    display: flex;
    justify-content: flex-end;
}

.bin-count{
    height: 26px;
    width: 26px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.operation__button{
    height: 30px;
    width: 30px;
    /* border-radius: 3px; */
    background-color: rgba(52, 199, 39, 0.692);
}

.operation__button:hover{
    background-color: rgba(57, 168, 47, 0.692);
    cursor: pointer;
}


.bin__total{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.bin__result{
    display: flex;

}

.amaunt{
    padding-right: 20px;
    padding-left: 20px;
    font-size: large;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    padding: 10px ;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    height: 300px;
    width: 100%;
    
    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    
}

.form-correct{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__item,.form__register{
    margin:10px;
}
.form__input{
    height: 20px;
    padding: 2px;
    border-radius: 4px;
}

.error{
    border-color: rgba(252, 3, 3, 0.61);
    box-shadow: 0px 4px 15px rgba(252, 3, 3, 0.952);
}

.user{
    cursor: pointer;
}

.register-form{
    padding: 10px ;
    border: 2px solid rgba(81, 214, 81, 0.555);
    border-radius: 5px;
    /* height: 300px; */
    width: 100%;
    
    background-color: rgba(228, 228, 228, 0.575);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}